@{
    ViewData["Title"] = "Liste des Mises à jour";
}

<div class="row">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 thumbnail">
            <p>
                Vous trouverez ici toutes les Updates concernant le développement du site Web 
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 22/04/2019
                </h3>
                <ul>
                    <li>Ajout de nombreuses fonctionnalités </li>
                    <li>Version préliminaire des fiches des acteurs implémentées</li>
                    <li>Ajout des commentaires sur les articles</li>
                    <li>Correction de divers petits bugs d'affichage</li>
                    <li>Ajout des liens vers les pages des acteurs dans les textes des articles</li>
                </ul>
            </li>
        </ul>


    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 29/03/2019
                </h3>
                <ul>
                    <li>Ajout des liens automatiques vers la fiche des personnages dans les articles </li>
                    <li>Amélioration de l'affichage des vidéos des articles en version mobile</li>
                    <li>Correction de divers petits bugs d'affichage</li>
                    <li>Limitation à 150 caractères de la balise meta description</li>
                </ul>
            </li>
        </ul>


    </div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 26/03/2019
                </h3>
                <ul>
                    <li>Ajout de la sélection des articles par catégorie </li>
                    <li>Ajout d'un dépot <a href="https://github.com/Ced59/GreyAnatomyFanSite/">GitHub</a></li>
                    <li>Ajout de la page "Updates"</li>
                    <li>Correction de bugs mineurs</li>
                </ul>
            </li>
        </ul>


    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>
            Ce site Web est actuellement en cours de développement.
        </h1>
        <p>
            Il n'est pour le moment qu'au tout début de son développement. Les fonctionnalités seront ajoutées petit à petit, ainsi qu'une refonte graphique totale.
            <br />
            Merci de votre compréhension.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 22/03/2019
                </h3>
                <ul>
                    <li>Implémentation de la pagination des articles. </li>
                    <li>Correction des problèmes de saut de lignes dans les articles</li>
                    <li>Ajout de la fonctionnalité "Partager sur Facebook" dans les articles</li>
                    <li>Limitation du nombre de caractères (400) dans la description des articles sur la page d'accueil</li>
                </ul>
            </li>
        </ul>


    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 15/03/2019
                </h3>
                <ul>
                    <li>Implémentation de l'ajout des articles et de leurs catégories. (coté Admin)</li>
                    <li>Amélioration mineure de l'affichage des fiches membres</li>
                </ul>
            </li>
        </ul>


    </div>
</div>


<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 14/03/2019
                </h3>
                <ul>
                    <li>Intégration du certificat SSL (chiffrage des données pour la sécurité)</li>
                    <li>Correction divers problèmes d'affichages mineurs</li>
                </ul>
            </li>
        </ul>


    </div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 13/03/2019
                </h3>
                <ul>
                    <li>Ajout des personnages fonctionnel (coté Admin)</li>
                    <li>Liste des personnages fonctionnelle</li>
                    <li>Fonctionnalité permettant d'afficher sur la page d'accueil un message le jour de l'anniversaire des acteurs implémentée</li>
                    <li>Amélioration du rendu mobile (Responsive Design)</li>
                </ul>
            </li>
        </ul>


    </div>
</div>



<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <ul>
            <li>
                <h3>
                    Update 06/03/2019
                </h3>
                <p>
                    L'enregistrement et le login des membres sont fonctionnels.
                    <br />
                    Vous pouvez dès maintenant vous enregistrer et vous identifier.
                </p>
            </li>
        </ul>


    </div>
</div>
