
<p>Ici la liste des commentaires à écrire</p>
<br>
<p>Les commentaires sont en cours de développement. Ils arriveront très bientôt! ;-)</p>


@{
    await Html.RenderPartialAsync("_RegisterLoginForm", ViewBag.Mail, ViewBag.errors);
}
