@{

    ViewData["Title"] = "Ajouter Personnage";

}


<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="row">
            <h2 class="col-lg-12">Ajouter Personnage</h2>
        </div>
        <form asp-controller="Administration" asp-action="AddPersoPost" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    <label for="nom">Nom : </label>
                    <input type="text" class="form-control" name="nom" placeholder="Nom" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom">Prénom : </label>
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom2">Prénom 2 : </label>
                    <input type="text" class="form-control" name="prenom2" placeholder="Prénom 2 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom3">Prénom 3 : </label>
                    <input type="text" class="form-control" name="prenom3" placeholder="Prénom 3 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom">Surnom : </label>
                    <input type="text" class="form-control" name="surnom" placeholder="Surnom (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom2">Surnom 2 : </label>
                    <input type="text" class="form-control" name="surnom2" placeholder="Surnom 2 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom3">Surnom 3 : </label>
                    <input type="text" class="form-control" name="surnom3" placeholder="Surnom 3 (facultatif)" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="biographie">Biographie du Personnage : </label>
                    <textarea type="text" class="form-control" name="bio" placeholder="Biographie du Personnage"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="nomActeur">Nom de l'acteur : </label>
                    <input type="text" class="form-control" name="nomActeur" placeholder="Nom de l'Acteur" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="prenomActeur">Prénom de l'acteur : </label>
                    <input type="text" class="form-control" name="prenomActeur" placeholder="Prénom de l'Acteur" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="bioActeur">Biographie de l'acteur : </label>
                    <textarea type="text" class="form-control" name="bioActeur" placeholder="Biographie de l'Acteur"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="naissanceActeur">Date de naissance de l'Acteur : </label>
                    <input type="date" class="form-control" name="dateNaissance" id="datepicker" />
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <label for="role">Rôle : </label>
                    <select name="role" class="form-control">
                        <option></option>
                        <option value="Medecin">Médecin</option>
                        <option value="Infirmier">Infirmier(e)</option>
                        <option value="Patient">Patient</option>
                        <option value="Exterieur">Exterieur</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <label for="statutvVivant">Toujours Vivant ? </label>
                </div>
                <div class="col-lg-4">
                    <label for="statutVivant" class="radio">
                        <input id="statutVivant" type="radio" value="yes" name="statutVivant">Oui
                    </label>

                </div>
                <div class="col-lg-4">
                    <label for="statutVivant" class="radio">
                        <input id="statutVivant" type="radio" value="no" name="statutVivant">Non
                    </label>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <label for="statutvVivant">Toujours Présent ? </label>
                </div>
                <div class="col-lg-4">
                    <label for="statutPresent" class="radio">
                        <input id="statutPresent" type="radio" value="yes" name="statutPresent">Oui
                    </label>

                </div>
                <div class="col-lg-4">
                    <label for="statutPresent" class="radio">
                        <input id="statutPresent" type="radio" value="no" name="statutPresent">Non
                    </label>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <label for="photo">Photo principale : </label>
                    <input type="file" class="form-control" name="image">
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-12">
                    <button class="form-control btn btn-default" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>